
.navbar {
border-bottom: groove;
}
video  {
  height :350px;
  width: 350px;

 
}
.somera{
  height:100%;
  width:100%;
  padding: 10px;
  background-color: black;
  display: flex;
}
.col-md-4{
  background-color: aqua;
}
.card {
  height :400px;
  width: 400px;
  margin-top:30px;
  margin-left:100px;
  border : 2px solid black;
  background-color:rgb(95, 96, 160);
  padding: 8px;
 
}
.card:hover {
  background-color: rgb(122, 192, 75);

}
.card-body{
  
}

.text-dark {
  font-size:15px;
}
.gap{
  margin:20px;

}
.super {
  column-count: 4;
column-gap: 5px;
}
.text-center{
  
}
.mazilo{

  background-color: red;
  text-align: center;
  text-decoration: dotted;


}
.extra{
  margin: 10px;
  background-color: blueviolet;
}